body {
    font-family:Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
   
}

.logo {
      border-radius:50%;
    overflow: hidden;
 }

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
    
}

h1 {
    margin-top: 0px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0px;
}
.headerone {
 display:flex;
 justify-content: space-between;
 align-items: center;
 background-color: #1F2937;
 font-size: 18px;
 color: #E5E7EB;
 height: 60px;
 padding:10px;
 padding-left: 50px;
 padding-right: 50px;
}

.headerone img {
    width: 50px;
}
.links {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.headertwo  {
   background-color: #1F2937;
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
   margin-top: 0%;
   display: flex;
   padding-left: 50px;
   padding-right: 50px;
  
}
.headerleft {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
}
button {
    background-color: #3882F6;
    border-radius: 10px;
    height:fit-content;
    width: 90px;
    color: #E5E7EB;
    padding: 5px;
    cursor:pointer;
    font-size: 15px;
}
.headerright {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    padding-right: 0px;
   }
.headerright img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: none;
}
.middleone {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 300px;
  }



 .box {
  border: 4px solid #277bf9;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 150px;
  height: 150px;
  padding: 0px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

.minibox {
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 150px;
    text-align: center;
  }


.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}


.middletwo {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  height: 300px;
  font-size: 30px;
  color: #1F2937;  
  font-weight: 300;
 
  
}

.citation {
    width: 700px;
    justify-items: flex-end;
    padding-top: 50px;
    margin:0px;
}


.middlethree {
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.action {
    background-color: #3882F6;
    width: 800px;
    height: 100px;
    font-size: 18px;
    color:#E5E7EB;
    
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
}

.writing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    align-items: flex-start;
    padding-left: 60px;
    gap:0px;
   
}
.writing p {
    margin: 0px;
}
 
.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

     
 }
.writing h4 {
    margin:0px;
}

 .footer {
 background-color: #1F2937;
 height: 70px;
 display: flex;
 justify-content: center;
 color: #E5E7EB;
 align-items: center;
}