body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
   
}
.logo {
      border-radius:50%;
    overflow: hidden;
 }

a {
    text-decoration: none;
    color: #E5E7EB;
}
ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
    
}

h1 {
    margin-top: 0px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0px;
}
.headerone {
 display:flex;
 justify-content: space-between;
 align-items: center;
 background-color: #1F2937;
 font-size: 18px;
 color: #E5E7EB;
 height: 60px;
 padding:10px;
 padding-left: 50px;
 padding-right: 50px;
}

.headerone img {
    width: 50px;
}
.links {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.headertwo  {
   background-color: #1F2937;
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
   margin-top: 0%;
   display: flex;
   padding-left: 50px;
   height: 300px;
   
}
.headerleft {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    border-radius: 25px;
    height:fit-content;
    width: 70px;
    color: #E5E7EB;
    padding: 5px;
    cursor:pointer;
}
.headerright {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-right: 50px;
}
.middelone {


}
.middletwo {

}

.middlethree {

}

.footer {

}
