body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0px;
   
}
.logo {
      border-radius:50%;
    overflow: hidden;
 }

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
    
}

h1 {
    margin-top: 0px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0px;
}
.headerone {
 display:flex;
 justify-content: space-between;
 align-items: center;
 background-color: #1F2937;
 font-size: 18px;
 color: #E5E7EB;
 height: 60px;
 padding:10px;
 padding-left: 50px;
 padding-right: 50px;
}

.headerone img {
    width: 50px;
}
.links {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.headertwo  {
   background-color: #1F2937;
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
   margin-top: 0%;
   display: flex;
   padding-left: 50px;
   padding-right: 50px;
  
}
.headerleft {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    border-radius: 25px;
    height:fit-content;
    width: 90px;
    color: #E5E7EB;
    padding: 5px;
    cursor:pointer;
    font-size: 15px;
}
.headerright {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    padding-right: 0px;
   }
.headerright img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: none;
}
.middleone {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 300px;
  }



 .box {
  border: 4px solid #277bf9;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 150px;
  height: 150px;
  padding: 0px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

.minibox {
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 150px;
    text-align: center;
  }


.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}


.middletwo {

}

.middlethree {

}

.footer {

}
